<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>主题</string>
			<key>Key</key>
			<string>title_preference</string>
			<key>DefaultValue</key>
			<string>YS_iOS_Test</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>类别</string>
			<key>Key</key>
			<string>title_category</string>
			<key>DefaultValue</key>
			<string>iOS</string>
			<key>Titles</key>
			<array>
				<string>Swift</string>
				<string>OC</string>
			</array>
			<key>Values</key>
			<array>
				<string>Swift语法</string>
				<string>OC语法</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>组主题</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>使用者</string>
			<key>Key</key>
			<string>user_name</string>
			<key>DefaultValue</key>
			<string>YJ</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>开关</string>
			<key>Key</key>
			<string>switch_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValueImage</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
