<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>feild</key>
			<array>
				<string>integer  整型值</string>
				<string>real  浮点值</string>
				<string>text  文本字符串</string>
				<string>blob  二进制数据（如文件）</string>
			</array>
		</dict>
		<dict>
			<key>create</key>
			<array>
				<string>create table 表名 (字段名1 字段类型1, 字段名2 字段类型2, …) ;</string>
				<string>create table if not exists 表名 (字段名1 字段类型1, 字段名2 字段类型2, …) ;</string>
			</array>
		</dict>
		<dict>
			<key>drop</key>
			<array>
				<string>drop table 表名 ;</string>
				<string>drop table if exists 表名 ;</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>alert</key>
			<array>
				<string>alert TABLE 表名 ADD 列名 类型
ADD column_name datatype</string>
				<string>alert TABLE 表名  DROP 列名 类型</string>
			</array>
		</dict>
		<dict>
			<key>insert</key>
			<array>
				<string>insert into 表名 (字段1, 字段2, …) values (字段1的值, 字段2的值, …) ; </string>
				<string>注意：数据库中的字符串内容应该用单引号 ’ 括住</string>
			</array>
		</dict>
		<dict>
			<key>update</key>
			<array>
				<string>update 表名 set 字段1 = 字段1的值, 字段2 = 字段2的值, … ; </string>
			</array>
		</dict>
		<dict>
			<key>delete</key>
			<array>
				<string>delete from 表名 ;</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>select</key>
			<array>
				<string>select * from 表名;   //  查询所有的字段</string>
				<string>select 字段1, 字段2, … from 表名 ;</string>
			</array>
		</dict>
		<dict>
			<key>where</key>
			<array>
				<string>where 字段 = 某个值 ;   // 不能用两个 =</string>
				<string>where 字段1 = 某个值 and 字段2 &gt; 某个值 ;  // and相当于C语言中的 &amp;&amp;</string>
				<string>where 字段1 = 某个值 or 字段2 = 某个值 ;  //  or 相当于C语言中的 ||</string>
			</array>
		</dict>
		<dict>
			<key>order</key>
			<array>
				<string>select * from t_student order by age desc ;  //降序</string>
				<string>select * from t_student order by age asc ;   // 升序（默认）</string>
				<string>select * from t_student order by age asc, height desc ;</string>
			</array>
		</dict>
		<dict>
			<key>group</key>
			<array/>
		</dict>
		<dict>
			<key>having</key>
			<array/>
		</dict>
		<dict>
			<key>limit</key>
			<array>
				<string>select * from 表名 limit 数值1, 数值2 ;</string>
				<string>select * from t_student limit 4, 8 ;   //可以理解为：跳过最前面4条语句，然后取8条记录</string>
			</array>
		</dict>
		<dict>
			<key>byname</key>
			<array>
				<string>select 字段1 别名 , 字段2 别名 , … from 表名 别名 ; </string>
				<string>select 字段1 别名 , 字段2 别名 , … from 表名 别名 ; </string>
				<string>select 别名.字段1, 别名.字段2, … from 表名 别名 ;</string>
			</array>
		</dict>
		<dict>
			<key>count</key>
			<array>
				<string>select count (字段) from 表名 ;</string>
				<string>select count ( * ) from 表名 ;</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>simple</key>
			<array>
				<string>not null ：规定字段的值不能为null</string>
				<string>unique ：规定字段的值必须唯一</string>
				<string>default ：指定字段的默认值</string>
			</array>
		</dict>
		<dict>
			<key>primary</key>
			<array>
				<string>primary key</string>
				<string>如果想要让主键自动增长（必须是integer类型），应该增加autoincrement</string>
			</array>
		</dict>
		<dict>
			<key>foreign</key>
			<array>
				<string>一张表的某个字段，引用着另一张表的主键字段</string>
				<string>create table t_student (id integer primary key autoincrement, name text, constraint fk_student_class foreign key (class_id) references t_class (id));</string>
				<string>这个外键的作用是用t_student表中的class_id字段引用t_class表的id字段</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>inlink</key>
			<array>
				<string>内连接：inner join 或者 join  （显示的是左右表都有完整字段值的记录）</string>
			</array>
		</dict>
		<dict>
			<key>outlink</key>
			<array>
				<string>左外连接：left outer join （保证左表数据的完整性） </string>
			</array>
		</dict>
	</array>
</array>
</plist>
