<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>songlist1</string>
		<key>songs</key>
		<array>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string>https://cl.ly/3M1Z1Z0B3V2i</string>
				<key>name</key>
				<string>歌曲3</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string>https://cl.ly/323p0N2w0W2o</string>
				<key>name</key>
				<string>歌曲1</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string>https://cl.ly/1B2t170g0i3k</string>
				<key>name</key>
				<string>歌曲2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>songlist2</string>
		<key>songs</key>
		<array>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>英雄有路</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>时光笔墨</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>浮诛</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>离思</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>青衣谣</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>青云志</string>
			</dict>
			<dict>
				<key>hasdownlaod</key>
				<true/>
				<key>expand</key>
				<string>mp3</string>
				<key>url</key>
				<string></string>
				<key>name</key>
				<string>如果我们不曾相遇</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
